* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sets the configuration of the main page, vh -> viewheight, control the
element sizing based on the screen dimension(is a percentage)*/
body {
    background-color: mediumpurple;
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

/* Increases the font size of the header(our tittle right now) 
1 rem are 16 px*/
header {
    font-size: 1.5rem;
}

/* Now we pick our header and form(formulario with our text and plus button) 
and set a min height, make it flex to later center the content and align 
the items to the center*/
header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Configuring the form input and button, the padding, font-size, deleting
the border and putting a whit bgc and creating setting a border-radius
Paddding is used to create space around an element's content, 
inside of any defined borders. 
*/
form input,
form button {
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 1.6rem;
    border: none;
    background-color: white;
    border-radius: 2rem;
}

/* Set our colour button and bg, with cursor when we pass over the button
our cursor will change to a pointer, also add a transition of 0.3 ease and
added a margin left of 8px  
*/
form button {
    color: gold;
    background-color: white;
    cursor: pointer;
    transition: all 0.3 ease;
    margin-left: 0.5rem/*or 8px*/;

}

/* When the user interacts with our button(not necessarily cickling on it),
this is activated when we pass over our mouse over the button */
form button:hover{
    color: goldenrod;
    background-color: whitesmoke;
}


/* Adding margins where are centering our plus logo */
.fa-plus-circle {
    margin-top: 0.3;
    margin-left: -7px;
}

/* Diplay flex, justifying our content to the center and allinging them */
.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Establishing a minimum width between each element */
.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    padding-left: 0.5rem;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    border-radius: 2rem;
}

